<h2>Events</h2>

<%= link_to 'Add a New Event', new_event_path %>

<table class="table unstyled">
  <tr>
    <th>Title</th>
    <th>Happening on</th>
    <th>Venue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.title, event %></td>
    <td><%= event.happening_on.strftime("%B %e at %r") %></td>
    <td>
      <% if event.venue %>
        <%= link_to event.venue.name, venue_url(event.venue) %></td>
      <% else %>
        <%= "unknown" %>
      <% end %>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

