.span8.news
  %h1
    News

  %ul.unstyled
    %li.news_item
      %h3 Important Announcements from Week 3

      %p
        %strong No new homework this week.
        We'll probably end up with just 4 assignments this quarter.

      %p
        New resource in the sidebar,
        = link_to "Quick Review for Weeks 1-4", "/weeks1-4.pdf"
        , includes some cheat sheets on how to get started adding models to your application.  It is not a complete review but has some hints to help you remember how to get started.

      %p
        %strong MIDTERM WEEK 6

      %p The last half of class will be the midterm.  A combination of short-answer or multiple choice questions, plus some code reading challenges.  More info at the next class.

      %p
        %strong OFFICE HOURS THIS WEEK
      %ul
        %li Raghu: Friday, 5pm-6pm @1871
        %li Raghu: Tuesday, TBA @Stuart Cafe
        %li Brian: Monday, 2pm-4pm @1871
        %li Jeff: Wednesday, 3pm-4pm @1871



    %li.news_item
      %h3 Important Announcements from Week 3

      %p
        Here are the apps you need to recreate as part of the homework:
        %ul
          %li= link_to "Rock, Paper, Scissors", rps_path
          %li= link_to "Poker Cards", poker_path
          %li= link_to "Dice Game", dice_path

      %p
        Always check the Resources sidebar for links and resources mentioned during class.  There's a
        = link_to "beginner-level HTML/CSS guide", "http://learn.shayhowe.com/html-css/"
        that can be helpful if you're new to HTML, and don't forget the
        = link_to "Rails Guides.", "http://guides.rubyonrails.org"

      %p
        Don't forget to try
        = link_to "Piazza", piazza_url
        for any questions throughout the week.

      %p
        %strong OFFICE HOURS THIS WEEK

      %ul
        %li
          Raghu: Thursday, 2pm-4pm @ Stuart Cafe on campus.
          = link_to "Here's a map to Stuart Cafe.", "http://maps.uchicago.edu/mainquad/stuart.html"

        %li Brian: Monday, 2pm-4pm @ Starter League (Design Classroom)
        %li Jeff: Wednesday, 3:15pm-5:15pm @ (Design Classroom)
    %li.news_item
      %h3 Important Announcements from Week 2

      %p
        Always check the Resources sidebar for links and resources mentioned during class.  There's a
        = link_to "beginner-level HTML/CSS guide", "http://learn.shayhowe.com/html-css/"
        that can be helpful if you're new to HTML, as well as a
        = link_to "complete walkthrough of the Facebook API exercise", "/facebook-api.pdf"
        that Raghu covered.

      %p
        Don't forget to try
        = link_to "Piazza", piazza_url
        for any questions throughout the week.

      %p
        %strong OFFICE HOURS THIS WEEK

      %p
        Raghu: Thursday, 3pm @ Stuart Cafe on campus.
        = link_to "Here's a map to Stuart Cafe.", "http://maps.uchicago.edu/mainquad/stuart.html"

      %p Brian: Monday, 2pm-4pm @ Starter League (Design Classroom Office)
      %p Jeff: Wednesday, 3:15pm-5:15pm @ (Design Classroom Office)


    %li.news_item
      %h3 Important Announcements from Week 1

      %p
        Hey everyone!  THANK YOU SO MUCH for being ontime to class tonight.  I will always start at 5:30pm sharp just like tonight.

      %p
        The Resources sidebar has links and resources mentioned during class.

      %p
        Do not miss a class unless you're sick. We don't have a textbook to accompany the class, and so it can be
        %em very hard
        to catch up.

      %p
        Here are some important things to keep in mind:

      %p
        %strong OFFICE HOURS THIS WEEK

      %p
        Raghu: This Friday, 5pm @ Starter League Dev Classroom.
        (Come early at 4pm for free pizza and beer at the 1871 Happy Hour in the Event Space).

      %p Jeff: (Covering for Brian this week): Monday, 2pm-4pm @ Starter League
      %p Jeff: Wednesday, 3:15pm-5:15pm @ Starter League

      %p
        %strong IMPORTANT INFO FOR GETTING THE HOMEWORK DONE

      %p
        Setup your environment.

        %p
          Windows:
          = link_to "http://railsinstaller.org", "http://railsinstaller.org"
        %p
          Mac:
          = link_to "http://www.moncefbelyamani.com/how-to-install-xcode-homebrew-git-rvm-ruby-on-mac/", "http://www.moncefbelyamani.com/how-to-install-xcode-homebrew-git-rvm-ruby-on-mac/"
          and then
          = link_to "http://railsapps.github.com/installing-rails.html", "http://railsapps.github.com/installing-rails.html"
        %p
          %strong If you have any problems, come to Raghu's office hours this Friday!

      %p Good luck with the homework. See you next week!

    %li.news_item
      %h3 Class Starts Wednesday, January 9 at 5:30pm sharp

      %p
        %strong Location:
        %br
        The Starter League, Web Development Classroom
        %br
        Merchandise Mart, 12th Floor (inside the 1871 Tech Center)

      %p.map
        = render 'map'

      %p
        %strong Directions:
        %br
        Take the Orleans Elevators at the west end of the building to the 12 floor.  You'll be at the entrance to the
        = link_to "1871 Technology Center", 'http://www.1871.com'
        (Suite 1212).  The Starter League is on your right just past the front desk.

