.span8.news
  %ul.unstyled

    %li.news_item
      %h3 Weeks 4 & 5 Recap

      %p
        Here are the two main ideas we've covered:

      %p
        1. A
        %em model
        is a Ruby class that represents something in the real world inside of our app.  The model class lives in the
        %code app/models
        folder and derives from
        %code ActiveRecord::Base
        \.  Each model is backed by an underlying table in the database.

      %p
        2. A
        %em "RESTful" database-backed resource
        utilizes 7 routes to provide actions to create, read, update, and delete rows of model data.

      %p
        Refer to the
        = link_to "MoviesApp", "https://github.com/entr925/week5/tree/master/lecture_code/MoviesApp"
        for a complete example how to build a database-backed resource with all 7 routes and actions.

      %p
        Create a "fork" of
        = link_to "Week5", "http://github.com/entr925/week5"
        \.  The README file has instructions for this week's homework.
      %p
        %strong Turn In Your Homework By Friday, May 9th, 11:59pm.

      %p Don't forget these steps after cloning a Rails project and cd'ing into the application folder:

      %ol
        %li bundle install
        %li rake db:migrate
        %li rake db:seed
        %li rails server


    %li.news_item
      %h3 Week 3 Recap

      %p
        =link_to "Slides from this week", slides_url(:spring2013, 3)
        are also in the sidebar for future reference.

      %p
        Read the first two pages of the
        = link_to "RCAV and Model Basics PDF", "/rcav-model-basics.pdf"
        in the sidebar.  It also includes a peek ahead to working with Rails models for next time.

      %p Clone the Week3 repository from Github and review the "myapp" Rails application we started.  See if you can remember how we got our webpage to show up at http://localhost:3000/idcards.  Break the code to discover new error messages, then fix the code to make it work again.

      %p Please do these things this week:

      %ol
        %li
          Create a "fork" of
          = link_to "Week3", "http://github.com/entr925/week3"
          \.  The README file has instructions for this week's homework.
        %li
          Do chapters 1-9 of the "Learn to Program" book if you haven't already.
        %li
          %strong Turn In Your Homework By Friday, April 26th, 11:59pm.

    %li.news_item
      %h3 Week 2 Recap

      %p There were no slides from this week.

      %p Read the methods.rb file in the lecture_code folder.

      %p Take a look at the "myapp" Rails application we started.  See if you can remember how we got our webpage to show up at http://localhost:3000/home.

      %p Please do these things this week:

      %ol
        %li
          Create a "fork" of
          = link_to "Week2", "http://github.com/entr925/week2"
          \.  The README file has instructions for this week's homework.
        %li
          Do chapters 1-9 of the "Learn to Program" book.
        %li
          %strong Turn In Your Homework By Friday, April 19th, 11:59pm.


    %li.news_item
      %h3 Week 1 Recap

      %p Please do these things this week:

      %ol
        %li Get a free Github.com account.
        %li
          Create a "fork" of
          = link_to "Week1", "http://github.com/entr925/week1"
          \.  Read the homework.pdf guide that's there if you need help on how to fork the project.
        %li
          Setup Ruby and Rails on your personal laptop if you haven't already.
          Check out the
          = link_to "How to Install Rails", "http://www.jeffcohenonline.com/installing-rails"
          guide that's also accessible in the sidebar.
        %li
          %strong Turn In Your Homework By Friday, April 12th, 11:59pm.
        %li I recommend getting a copy of "Learn to Program", 2nd Edition, by Chris Pine.

    %li.news_item
      %h3
        First Day of Class: Thursday, April 4 at 1:30pm
        %strong SHARP

      %p
        %strong Welcome to ENTR-925 Startup Programming and Management!

      %p Prior to the first class, you're encouraged to try to to install Ruby and Rails onto your laptop so that you can do the homework this week.

      %p= link_to "Click here for my guide to installing Rails (both Mac and Windows).", "http://www.jeffcohenonline.com/installing-rails"
      %p
        Installing Ruby and Rails can be tricky, so if you're not feeling confident or if you run into any trouble, bring your laptop with you and
        %strong join us immediately after the first class, from 4:30pm - 5:45pm,
        and we'll help you get setup.

      %p (Note, however, that personal laptops must be put away during class itself.)

      %p See you Thursday!

