.span4
  .well
    %h2
      Resources

    %ul
      %li= link_to "Homework Repository on GitHub", homework_url
      %li= link_to "Course Syllabus", 'syllabus.pdf'

  .well
    %h2 Contact Info
    %p
      Jeff Cohen (Lecturer)
      %br
      = mail_to "jeffcohen@cs.uchicago.edu"
    %p
      Raghu Betina
      %br
      = mail_to "raghu@starterleague.com"
    %p
      Brian Eng
      %br
      = mail_to "coolreng@gmail.com"
