.span4.resources
  .well
    %h2
      Resources

    %h3 class content
    %ul
      / %li= link_to "Slides from Week 1", slides_url(:spring2013, 1)

    %h3 important resources
    %ul
      / %li= link_to "Sign in with Twitter", "/oauth_twitter.pdf"
      / %li= link_to "Javascript, jQuery, and Ajax Cheat Sheets", "/javascript.pdf"
      / %li= link_to "Model Associations Summary Sheets", "/model_associations.pdf"
      / %li= link_to "Final Project Assignment", "/final_project.pdf"
      / %li= link_to "Quick Review for Weeks 1-4", "/weeks1-4.pdf"
      / %li= link_to "RCAV and Model Basics PDF", "/rcav-model-basics.pdf"
      / %li= link_to "Q&A via Piazza", piazza_url
      %li= link_to "Course Syllabus", syllabus_path(:spring2013), target: '_blank'
      %li= link_to "Git Cheat Sheet", "/git_sheet.pdf"
      %li= link_to "HTML & CSS Guide", "http://learn.shayhowe.com/html-css/"
      %li= link_to "Online Ruby Docs", "http://www.ruby-doc.org/core-1.9.3"
      %li= link_to "Ruby on Rails Guides", "http://guides.rubyonrails.org"
      %li= link_to "Course Notebook", "/notebook.pdf"
    %h3 for fun &amp; enrichment
    %ul
      %li= link_to "The Programmable Web", "http://www.programmableweb.com/apis/directory/1?sort=mashups"
      %li= link_to "Hartl book", "Hartl book: http://ruby.railstutorial.org/ruby-on-rails-tutorial-book"
      %li= link_to "BetterSnapTool (easy, $)", "https://itunes.apple.com/us/app/bettersnaptool/id417375580"
      %li= link_to "Slate (guru, free)", "http://thume.ca/howto/2012/11/19/using-slate/"

  .well
    %h2 Instructors
    %p
      = mail_to "jeffcohen@cs.uchicago.edu", "Jeff Cohen"
      (Lecturer)
    %p
      Raghu Betina (TA)
