.span4
  .well
    %h2
      Resources

    %ul
      %li= link_to "Homework for Week 1", homework_url(1)
      %li= link_to "Slides from Week 1", "/slides-week1.pdf"
      %li= link_to "Q&A via Piazza", piazza_url
      %li= link_to "Course Syllabus", syllabus_path, target: '_blank'
      %li= link_to "Git Cheat Sheet", "/git_sheet.pdf"
      %li= link_to "HTML & CSS Guide", "http://learn.shayhowe.com"
      %li= link_to "Online Ruby Docs", "http://www.ruby-doc.org/core-1.9.3"
      %li= link_to "Ruby on Rails Guides", "http://guides.rubyonrails.org"
      %li= link_to "Course Notebook", "/notebook.pdf"
      %li= link_to "Hartl book", "Hartl book: http://ruby.railstutorial.org/ruby-on-rails-tutorial-book"
      %li= link_to "BetterSnapTool (easy, $)", "https://itunes.apple.com/us/app/bettersnaptool/id417375580"
      %li= link_to "Slate (guru, free)", "http://thume.ca/howto/2012/11/19/using-slate/"

  .well
    %h2 Instructors
    %p
      = mail_to "jeffcohen@cs.uchicago.edu", "Jeff Cohen"
      (Lecturer)
    %p
      Raghu Betina (TA)
    %p
      Brian Eng (TA)
